<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="装置監視システム.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <装置監視システム.Properties.Settings>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Panel1GreenBackColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="Panel1YellowBackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Panel1RedBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Panel1EraseBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Panel1CutBackColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="Panel1DontBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Panel1GreenForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel1YellowForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel1RedForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel1EraseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel1CutForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel1DontForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="IsGridSnap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Panel2GreenBackColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="Panel2YellowBackColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Panel2RedBackColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Panel2EraseBackColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Panel2CutBackColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="Panel2DontBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Panel1StopForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Panel1StopBackColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Room2Width" serializeAs="String">
                <value>956</value>
            </setting>
            <setting name="RegularlyTime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="IsListData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Area1" serializeAs="String">
                <value>エリア1</value>
            </setting>
            <setting name="Area2" serializeAs="String">
                <value>エリア2</value>
            </setting>
            <setting name="Panel1GreenName" serializeAs="String">
                <value>緑点灯</value>
            </setting>
            <setting name="Panel1YellowName" serializeAs="String">
                <value>黄点灯</value>
            </setting>
            <setting name="Panel1RedName" serializeAs="String">
                <value>赤点灯</value>
            </setting>
            <setting name="Panel1EraseName" serializeAs="String">
                <value>消灯</value>
            </setting>
            <setting name="Panel1CutName" serializeAs="String">
                <value>通信断</value>
            </setting>
            <setting name="Panel1DontName" serializeAs="String">
                <value>データなし</value>
            </setting>
            <setting name="Panel1StopName" serializeAs="String">
                <value>監視しない</value>
            </setting>
            <setting name="Panel2GreenName" serializeAs="String">
                <value>緑点灯</value>
            </setting>
            <setting name="Panel2YellowName" serializeAs="String">
                <value>黄点灯</value>
            </setting>
            <setting name="Panel2RedName" serializeAs="String">
                <value>赤点灯</value>
            </setting>
            <setting name="Panel2EraseName" serializeAs="String">
                <value>消灯</value>
            </setting>
            <setting name="Panel2CutName" serializeAs="String">
                <value>通信断</value>
            </setting>
            <setting name="Panel2DontName" serializeAs="String">
                <value>データなし</value>
            </setting>
            <setting name="Panel2GreenForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel2YellowForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel2RedForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel2EraseForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel2CutForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Panel2DontForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </装置監視システム.Properties.Settings>
    </userSettings>
</configuration>